
<h1 class="mb-3">TASKS</h1>
<div class="row">
  
  

  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
      
    </tr>
  </thead>
  
  <tbody>
    {{#each tasks}}
    <tr>
      <td>{{task}}</td>
      <td><a class="btn btn-secondary"  href="/tasks/edit/{{_id}}">Edit</a></td>
      <td>
        <form action="/tasks/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-sm">X</button>
          </form>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>
    
  {{!-- <div class="col-md-3">
    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="card-title">
            {{task}} 
          </h4>
         

      
        <a class="btn btn-secondary btn-block"  href="/tasks/edit/{{_id}}">Edit</a>
        
      </div>
    </div>
  </div> --}}


  <div class="col-md-6 offset-md-3" >
    <a class="btn btn-dark btn-block" href="/tasks/add">Add</a>
  </div>
</div>